# Python / Django
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
*.sqlite3
netwatch.log
staticfiles/
.pytest_cache/
.coverage
htmlcov/

# Node
node_modules/
dist/
.angular/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
